{% extends 'base.html' %}
{% set current_page = 'employment-usarmy' %}
{% block content%}
<h1 class="text-center">Employment with the United States Army</h1>
<div class="text-center my-5">
    <img src="{{ url_for('static', filename='images/employ-usarmy.jpg') }}" alt="">
</div>
<p class="bigger">William enlisted in the United States Army in February of 2009. He spent his first enlistment serving as a medic in
    the 4th Infantry Division at Fort Carson in Colorado Springs, Colorado. He deployed to Iraq for 12 months in the
    spring of 2010 and returned to Colorado afterward. After returning from Iraq, William took advantage of an
    opportunity to undergo retraining and work as an intelligence analyst.</p>
<p class="bigger">In January of 2013, William moved to Monterey, California and studied the Pashto language for 16 months. Upon
    graduation from language school, he attended further training in Texas and was then stationed in Germany. William
    worked as an intelligence analyst for less than a year before being moved to the Battalion's security office.
    William spent the next three years leading the Battalion's security office and managing its security programs.</p>
<p class="bigger">In the summer of 2016, William's health began to deteriorate. After over a year and a half of medical issues and
    multiple surgeries, William was medically retired in May of 2018.</p>
{% endblock %}