{% extends 'base.html'%}
{% set current_page = 'contact' %}
{% block content %}
<h1 class="text-center">Check These Out</h1>
<div class="col-lg-6 mx-auto text-center">
    <a href="https://www.linkedin.com/in/william-mcgee3/" target="_blank">
        <img class="img-fluid" src="{{ url_for('static', filename='images/Linkedin-Logo.png') }}" alt="Linked in logo">
    </a>
    <a href="https://github.com/wmcgee3" target="_blank">
        <img class="img-fluid mb-5" src="{{ url_for('static', filename='images/GitHub-Logo.png') }}" alt="GitHub logo">
    </a>
    <a href="https://nutsandbolts.wmcgee.tech" target="_blank">
        <img class="img-fluid my-5" src="{{ url_for('static', filename='images/Nuts-and-Bolts-Logo.png') }}" alt="Nuts and Bolts logo">
    </a>
    <a href="https://jenkins.wmcgee.tech" target="_blank">
        <img class="img-fluid mt-5" src="{{ url_for('static', filename='images/Jenkins-Logo.png') }}" alt="Jenkins logo" height="400px">
    </a>
</div>
{% endblock %}
