{% extends 'base.html'%}
{% set current_page = 'home' %}

{% block content %}
<h1 class="text-center">William McGee:</h1>
<h2 class="text-center">Software Developer and Security Professional</h2>
<div class="text-center my-5">
    <img src="{{ url_for('static', filename='images/home.jpg') }}" alt="">
</div>
<p>While serving as a Security Manager in the U.S. Army, I learned a ton about physical, personnel, and information
    security. Wanting to fill the gap in my knowledge, I decided to pursue the Cyber Security A.A.S. at Columbus State.
    During my first two semesters of study, I realized that I had an affinity and passion for programming (and had a few
    instructors tell me that I should switch), so I changed my major to the Software Development A.A.S.</p>
<p>I enjoyed taking more advanced programming courses and worked as a tutor for introductory computer programming
    courses during my 3rd semester. I worked part-time as an apprentice at Nationwide during my final semester and
    graduated in December 2020. After graduating, I was hired on full-time at Nationwide and I now work on the mainframe
    team.</p>
<h2 class="mt-5 text-center">About This Website</h2>
<div class='row my-5'>
    <div class="col-sm my-auto">
        <img class="img-fluid p-5" src="{{ url_for('static', filename='images/Python-Logo.png') }}"
            alt="Python programming language logo">
    </div>
    <div class="col-sm my-auto">
        <img class="img-fluid p-5" src="{{ url_for('static', filename='images/Flask-Logo.png') }}"
            alt="Flask Python package logo">
    </div>
    <div class="col-sm my-auto">
        <img class="img-fluid p-5" src="{{ url_for('static', filename='images/Bootstrap-Logo.png') }}"
            alt="Bootstrap logo">
    </div>
</div>
<p>This website was made using Python, Flask, and Bootstrap 4. Why use Python to create a static website? Because I hate
    having to copy & paste navigation and style stuff to every page, and Jinja2 takes care of that for me with its
    templates... plus, Python is rad.</p>
{% endblock %}
