img {
  max-width: 100%;
}

.bigger {
  font-size: 1.25rem;
}

.bg-darker {
  background-color: #232526;
}

.bg-darkest {
  background-color: #18191a;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #3e4143;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 56px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 56px;
    line-height: 56px; /* Vertically center the text there */
  }
