{% extends 'base.html' %}
{% set current_page = 'education-cscc' %}
{% block content %}
<h1 class="text-center">Studying Computer Science at Columbus State Community College</h1>
<div class="text-center my-5">
    <img src="{{ url_for('static', filename='images/edu-cscc.jpg') }}" alt="">
</div>
<p>I began studying at CSCC in January of 2019 pursuing an Associate's of Applied Science in Cybersecurity.
    After two semesters of studying Cybersecurity, I decided to change my major and pursue the Software Developer
    Associate's of Applied Science. Fortunately, most of the classes that I completed in my first two semesters
    counted towards my new major of study. I graduated Magna Cum Laude in December of 2020.</p>
{% endblock %}
