{% extends 'base.html' %}
{% set current_page = 'education-dliflc' %}
{% block content%}
<h1 class="text-center">Studies at the Defense Language Institute - Foreign Language Center</h1>
<div class="text-center my-5">
    <img class="img-fluid" src="{{ url_for('static', filename='images/edu-dliflc.jpg') }}" alt="">
</div>
<p>After serving as a medic in the U.S. Army for four years, I volunteered to change my job and become an
    intelligence analyst. Part of the training for my new job was language school. I was assigned the language of
    Pashto and was sent to the Defense Language Institute - Foreign language Center at the Presidio of Monterey in
    California. The Pashto program was 16 months of language, culture, and history training. Upon completion
    of the program, I was awarded a diploma with honors.</p>
{% endblock %}
